In [69]:
import hydrofunctions as hf
import pandas as pd
myTime = 'P20D'
main_df = hf.NWIS('11161000','dv',period=myTime)
name = 'San_Lorenzo_River'
main_df = main_df.get_data().df()
main_df.rename(columns={main_df.columns[0]:name},inplace=True)
main_df.drop(columns=main_df.columns[1],inplace=True)
library = {'Upper_San_Lorenzo_River':'11160500',
           'Guerneville_Russian_River':'11467000',
           'Putah_Creek':'11454000',
           'Farad_Truckee_River':'10346000',
           'Little_Truckee':'10344400'
          }

In [70]:
for name,river in library.items():
    river_data = hf.NWIS(river,'dv',period=myTime)
    df = river_data.get_data().df()
    df.rename(columns={df.columns[0]:name},inplace=True)
    df.drop(columns=df.columns[1],inplace=True)
    main_df = main_df.join(df)
main_df.tail()

,San_Lorenzo_River,Upper_San_Lorenzo_River,Guerneville_Russian_River,Putah_Creek,Farad_Truckee_River,Little_Truckee
datetime,,,,,,
2018-12-15,18.9,20.0,20.0,20.0,20.0,20.0
2018-12-16,33.7,54.7,54.7,54.7,54.7,54.7
2018-12-17,239.0,200.0,200.0,200.0,200.0,200.0
2018-12-18,73.8,67.4,67.4,67.4,67.4,67.4
2018-12-19,46.3,46.8,46.8,46.8,46.8,46.8

In [71]:
from noaa_sdk import noaa
import time
n = noaa.NOAA()
forecasts = {'Santa_Cruz':'95066',
             'Guerneville':'95446',
            'Truckee':'96162',
            'Winters':'95694'
            }

for name,weather in forecasts.items(): 
    weather_data = n.get_forecasts(weather,'US',True)
    df = pd.DataFrame(weather_data)
    df['Date']= df.endTime.str[0:10]
    df = df.groupby(['Date']).max()
    df = df.shortForecast
    df.rename(name,inplace=True)
    main_df = main_df.join(df)
    time.sleep(10)
    
main_df.tail()

,San_Lorenzo_River,Upper_San_Lorenzo_River,Guerneville_Russian_River,Putah_Creek,Farad_Truckee_River,Little_Truckee,Santa_Cruz,Guerneville,Truckee,Winters
datetime,,,,,,,,,,
2018-12-15,18.9,20.0,20.0,20.0,20.0,20.0,NaN,NaN,NaN,NaN
2018-12-16,33.7,54.7,54.7,54.7,54.7,54.7,NaN,NaN,NaN,NaN
2018-12-17,239.0,200.0,200.0,200.0,200.0,200.0,NaN,NaN,NaN,NaN
2018-12-18,73.8,67.4,67.4,67.4,67.4,67.4,NaN,NaN,NaN,NaN
2018-12-19,46.3,46.8,46.8,46.8,46.8,46.8,NaN,NaN,NaN,NaN

In [73]:
# with open('C:/Users/Scott/Desktop/Data/WaterLevel.csv', 'a') as f:
#              (df + 6).to_csv(f, header=False)
# df.to_csv('C:/Users/Scott/Desktop/Data/WaterLevel.csv')